<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<div class="container">

    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span> Login</h1>
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>
</div>