<%- partial ('navbar.ejs') %>

<div class="jumbotron">
  <div class="container">
    <h1>Human Resource Department</h1>
    <p>Employees can provide personal information to HR to allow for their administrators to manage them through this system. Administrators can change an employee's position, give them raises, or even terminate an employee.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Sign Up »</a>
    </p>
  </div>
</div>
